<app-navbar></app-navbar>
<h1 class="font-style" style="text-align: center;">Search Movie</h1>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-6 offset-md-3">
                <mat-card style="background-color: rgb(241, 239, 232);">
                    <mat-card-content>
                        <form (ngSubmit)="search()">
                            <!-- movie name -->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Movie Name</mat-label>
                                <input 
                                required
                                [(ngModel)] ="movieName"
                                name="movieName"
                                matInput placeholder="Enter Here">
                            </mat-form-field>
                            <div class="container text-center">
                                <button type="submit" style="margin-right: 10px;" mat-raised-button color="primary">Search</button>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<table style="padding-top: 15px; width: 100%;font-size: 20px;border: 5px;" class="mat-elevation-z8">
    <tr style="border: 20px;">
        <td><b>No.</b></td>
        <td><b>Movie Name</b></td>
        <td><b>Theater Name</b></td>
        <td><b>Ticket Status</b></td>
    </tr>
    <span></span>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr *ngFor="let arr of movies">
        <td>{{arr.position}}</td>
        <td>{{arr.movieName}}</td>
        <td>{{arr.theaterName}}</td>
        <td>{{arr.ticketStatus}}</td>
        <button (click)="onClickBuyTicket()" mat-raised-button color="primary">Book Ticket</button>
    </tr>
</table>
  
  


  
