<mat-toolbar color="primary">
   <a href="api/v1.0/moviebooking/home" mat-icon-button  aria-label="Example icon-button with heart icon">
     <mat-icon>home</mat-icon>
   </a>
   <span class="font-style"><b>Movie Booking</b></span>
   
   <span style="padding-left: 490px;" class="example-spacer"></span>

   <label style="position: relative;" *ngIf="!loginService.adminLoggedIn()" class="font-style">Admin</label>
  <a style="position: relative;" *ngIf="!loginService.adminLoggedIn()" href="api/v1.0/moviebooking/login" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>lock</mat-icon>
  </a>
  
  <label style="position: relative;" *ngIf="loginService.adminLoggedIn()" class="font-style">Dashboard</label>
  <a style="position: relative;" *ngIf="loginService.adminLoggedIn()" href="api/v1.0/moviebooking/admin" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>dashboard</mat-icon>
  </a>

   <label style="position: relative;" class="font-style">Search</label>
   <a style="position: relative;" href="api/v1.0/moviebooking/search" mat-icon-button aria-label="Example icon-button with heart icon">
    <mat-icon>search</mat-icon>
   </a>

   <label style="position: relative;" class="font-style">Movies</label>
   <a style="position: relative;" href="api/v1.0/moviebooking/all" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>movie filter</mat-icon>
   </a>

  <label style="position: relative;" *ngIf="loginService.userLoggedIn()" class="font-style">Buy Ticket</label>
  <a style="position: fixed;" *ngIf="loginService.userLoggedIn()" href="api/v1.0/moviebooking/add" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>shop</mat-icon>
  </a>

  <!-- <label *ngIf="loginService.userLoggedIn()" class="font-style">Logout</label>
  <form (ngSubmit)="userLogout()">
    <button *ngIf="loginService.userLoggedIn()" type="submit"  href="api/v1.0/moviebooking/login" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
  </form> -->
  <a (click)="userLogout()" *ngIf="loginService.userLoggedIn() || loginService.adminLoggedIn()" mat-icon-button aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
   </a>
  
 </mat-toolbar>