<app-navbar></app-navbar>
<br>
<h1 style="text-align: center;"><b>Welcome to Movie Booking App</b></h1>
<div class="bg">
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-6 offset-md-3" style="text-align: center;">
                    <label class="font-style">Register</label>
                    <a href="api/v1.0/moviebooking/register">
                        <mat-icon style="color: white;margin-right: 300px;margin-top: 50px;">edit</mat-icon>
                    </a>
                    <label class="font-style">Login</label>
                    <a href="api/v1.0/moviebooking/login" class="example-icon" aria-label="Example icon-button with share icon">
                        <mat-icon style="color: white;padding-right: 30px;margin-top: 50px;">person</mat-icon>
                    </a>   
                </div>
            </div>
        </div>
    </div>
</div>